%message {
  $color: black;

  td {
    color: $color
  }

  div {
    th {
      font-size: 25px
        }
    td {
      font-size: 15px
      }
  }
}

.category {
  @extend %message;
  font-family: cursive;
}
